
/* Set additional styling options for the columns*/
.column {
    box-sizing: border-box;
    float: left;
}

h3 {
    color: blue;
}

#p1No, #p1Score {
    text-align: center;
}

.row {
    display: table;
}

#homeScore, #visitorScore {
    font-size: 50px;
    text-align: center;
}